.header{
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding:10px; */
}
.logo{
    
    height: 50px;
    width: 50px;
}
.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    height: 50px;
    border-radius: 25px;
}
.logo-container p{
    margin-right: 20px;
}

.logo-container:hover{
    background-color: whitesmoke;
}
.form{
    /* border:solid red 1px; */
    display: flex;
    align-items: center;
    width: 40%;
    min-width: 300px;
}
.search-bar{
    width: 90%;
    margin: auto;
    height: 1rem;
    border-radius: 25px;
    border: gray 1px solid;
    padding: 10px;
    /* margin-right: 30px; */
}
@media screen and (max-width: 700px){
    .logo-text{
      display: none;
    }
    /* .search-bar{
        width: 60vw;
    } */
  }