.header{
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.logo{
    
    height: 32px;
    width: 32px;
}
.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    height: 50px;
    border-radius: 25px;
}
.logo-container p{
    margin-right: 20px;
}

.logo-container:hover{
    background-color: whitesmoke;
}
.search-bar{
    width: 500px;
    height: 1rem;
    border-radius: 25px;
    border: gray 1px solid;
    padding: 10px;
}
@media screen and (max-width: 700px){
    .logo-text{
      display: none;
    }
    .search-bar{
        width: 60vw;
    }
  }