.sr{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    margin: 0;
}
.icon{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.sr:hover{
    background-color: whitesmoke;
}